<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a th:href="@{/mvc/students/add}" class="btn btn-success">Add Student</a>
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Address</th>
            </tr>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}">Name</td>
                <td th:text="${student.email}">Email</td>
                <td th:text="${student.phoneNumber}">Phone Number</td>
                <td th:text="${student.gender}">Gender</td>
                <td th:text="${student.address}">Address</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>
</body>
</html>